<app-menu></app-menu>

<h1 style="padding-left: 40px;">Bem-vindo Professor(a)!</h1>
<h2 style="padding-left: 40px;">Lançar Notas</h2>

<div class="container mt-4">

  <!-- Seleção de matéria -->
  <div class="card">
    <h3>Selecione a Matéria</h3>

    <mat-form-field appearance="outline" panelClass="painel-select" style="width: 300px;">
      <mat-label>Matéria</mat-label>

      <mat-select [(ngModel)]="materiaSelecionada"
                  (selectionChange)="carregarAlunosDaMateria()">

        <mat-option *ngFor="let m of materias" [value]="m.idmateria">
          {{ m.nome }}
        </mat-option>

      </mat-select>
    </mat-form-field>
  </div>

  <!-- Tabela de alunos -->
  <div class="card" *ngIf="materiaSelecionada">
    <h3>Alunos da Matéria</h3>

    <div class="tabela-container">
      <table mat-table [dataSource]="alunos" class="mat-elevation-z2">

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let a">{{ a.idaluno }}</td>
        </ng-container>

        <ng-container matColumnDef="nome">
          <th mat-header-cell *matHeaderCellDef>Nome do Aluno</th>
          <td mat-cell *matCellDef="let a">{{ a.nome }}</td>
        </ng-container>

        <ng-container matColumnDef="nota">
          <th mat-header-cell *matHeaderCellDef>Nota</th>
          <td mat-cell *matCellDef="let a">
            <div style="display:flex; align-items:center; gap:5px;">
              <input matInput type="number" min="0" max="10"
                     [(ngModel)]="a.nota">

              <button mat-icon-button color="primary"
                      (click)="salvarNota(a)">
                <mat-icon>save</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      </table>
    </div>
  </div>
</div>
